/* -- Gestion du responsive */

@media screen and (min-width: 576px){
    


}


@media screen and (min-width: 737px){



}
 

 @media screen and (min-width: 990px){

    /* -- Navigation Menu */
    
    .navContainer{
        justify-content: center;
    }

    .navBurgerMenu{
        display: none;
    }

    .navTitlesContainer{
        display: flex;
        width: 500px;
    }

    .navTitle{
        font-size: 20px;
    }


}

@media screen and (min-width: 1281px){

    /* -- Navigation Menu */

    .navBurgerMenu{
        display: none;
    }
    
}